/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .red
{
    color: #f54242;
    font-family: "Arial";
}

a:link {
  color: #f54242;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #590058;
  background-color: transparent;
  text-decoration: none;
}
