/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #45adbf;
    font-family: "Arial";
}

#body {
    background: #1f1f2e;
}
