{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<form action="/" method="post">
    <h1 class="bg-light mb-5 big text-center text-dark">
        {{food}} <a href="/rate">[Rate]</a>
    </h1>

    <h2 class="bg-light mb-5 big text-center text-dark">Ingredients</h2>

    <p class="bg-light mb-5 big text-center text-dark">
        {{ingred}}
    </p>

    <h2 class="bg-light mb-5 big text-center text-dark">Allergens</h2>

    <p class="bg-light mb-5 big text-center text-dark">
        {{allergens}}
    </p>
</form>
{% endblock %}
