{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<form action="/" method="post">
    <p>Today's menu:</p>
    <div class="mb-3">
        <table class="table tablestriped">
            <thead>
                <tr>
                    <th>Food</th>
                    <th>Picture</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        <td class="text-start">{{row['symbol']}}</td>
                        <td class="text-start">{{row['picture']}}</td>
                        <td class="text-end">{{row['total']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>
{% endblock %}
