{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<form action="/" method="post">
    <header class="bg-dark mb-5 big text-center text-white">
        Today's Menu:
    </header>
    <div class="mb-3">
        <table class="table tablestriped">
            <thead class="bg-dark mb-5 big text-center text-white">
                <tr>
                    <th>Food</th>
                    <th>Picture</th>
                    <th>Rating</th>
                    <th>Votes</th>
                    <th>My Rating</th>
                </tr>
            </thead>
            <tbody class="bg-dark mb-5 big text-center text-white">
                {% for row in rows %}
                    <tr>
                        <td class="text-start">{{row['food']}}</td>
                        <td class="text-start"> </td>
                        <td class="text-end">
                        {% for i in range(row['rating_int']) %}
                            ★
                        {% endfor %}
                        {{row['rating']}}
                        </td>
                        <td class="text-end">{{row['number_of_ratings']}}</td>
                        <td class="text-end">{{row['my_rating']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>
{% endblock %}
