{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<form action="/" method="post">
    <h1 class="mb-5 big text-center text-black">
        Today's Menu:
    </h1>
    <div class="mb-3">
        <table class="table tablestriped">
            <thead class="mb-5 big text-center text-black">
                <tr>
                    <th class="text-end">Food</th>
                    <th class="text-end">Stars</th>
                    <th class="text-start">Rating</th>
                    <th class="text-end">Votes</th>
                    <th class="text-end">My Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        <td class="text-end"><a href="/food/{{row['food']}}">{{row['food']}}</a></td>
                        <td class="text-end">
                        {% for i in range(row['rating_int']) %}
                            ★
                        {% endfor %}
                        </td>
                        <td class="text-start">{{row['rating']}}</td>
                        <td class="text-end">{{row['number_of_ratings']}}</td>
                        <td class="text-end">
                        {% for i in range(row['my_rating']) %}
                            ★
                        {% endfor %}
                        {{row['my_rating']}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>
{% endblock %}
